{% extends 'scheduleApp/base.html' %}

{% block content %}
<div class="pageCenter container" id="pageCenter">
  <h1>LOGIN</h1>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <label>{{field.label}}</label>
      <input type="{% if field.label == 'Password' %}password{% else %}input{% endif %}" placeholder="{{field.label}} "name="{{ field.name }}" class="form-control"></input>
    {% endfor %}
    <br />
    <div class="middlerow">
      <button type="submit" class="rand btn btn-success" align="center">Login</button>
    </div>
    <br/>
    <a href="/signup"> Not a member yet? Sign up now! </a>
  </form>
</div>
{% endblock %}
