{% extends 'scheduleApp/base.html' %}

{% block content %}
<div class="pageCenter container" id="pageCenter">
  <h1>SIGN UP</h1>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <label>{{field.label}}</label>
      <input type="{% if 'password' in field.name %}password{% else %}input{% endif %}" placeholder="{{field.label}} "name="{{ field.name }}" class="form-control"></input> <span>{{ field.errors }}</span>
    {% endfor %}
    <br />
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
</div>
{% endblock %}
