<div class="cardBase col-lg-4">
  <br/>
  <h2>{{ entry.name }}</h2>
  <h4>{{ entry.date }}</h4>
  <h5>{{ entry.time }}</h5>
  <p>
    {{ entry.description|truncatechars:100 }}
  </p>
  <button onclick="window.location='{% url 'details' pk=entry.id %}'" class="btn btn-primary">View Details</button>
  <button data-id="{{ entry.id }}" onclick="deleteEvent(this)" class="btn btn-warning">Delete event</button>
  <br />
</div>
