<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'scheduleApp/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'scheduleApp/css/style.css' %}">
  <title>Schedule App</title>
</head>
<body>
  {% block content %}
  {% endblock %}
  <script src="{% static 'scheduleApp/js/schedule.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script>
    var csrf_token = '{{ csrf_token }}'
  </script>
</body>
</html>
