{% extends 'scheduleApp/base.html' %}



{% block content %}
<div class="container jumbotron">
  <button onclick="window.location='{% url 'schedule' %}'"class="btn btn-default">Go back</button>
  <hr/>
  <h1>{{ entry.name }}</h1>
  <hr/>
  <h5>{{ entry.date }}</h5>
  <h5>{{ entry.time }}</h5>
  <p>{{ entry.description }}</p>
</div>
{% endblock %}
