{% extends 'scheduleApp/base.html' %}

{% block content %}
<div class="container form-group">
  <br/>
  <div class="row">
    <div class="col-lg-5">
      <h1>Add a new event</h1>
    </div>
    <div class="col-lg-7">
      <a href="{% url 'schedule' %}" type="button" class="btn btn-dark"> Back  </a>
    </div>
  </div>
  <hr/>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <label>{{field.label}}</label>
      <input placeholder="{{field.label}} "name="{{ field.name }}" class="form-control" type="{% if field.label == 'Date' %}date{% elif field.label == 'Time'%}time{% else %}input{% endif %}"/>
      {{ field.errors }}
    {% endfor %}
    <br/>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}
