{% extends 'scheduleApp/base.html' %}
{% block content %}
<div class="pageCenter container" id='pageCenter'>
  <h1> A Simple Scheduler Web</h1>
  <p>keep track of your schedule!</p>
  <p>by: Andre Satria</p>
  <button onclick="window.location='login'" class="btn btn-success">Login</button>
</div>

{% endblock %}
