{% extends 'scheduleApp/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1> Schedule </h1>
      {% if request.user.is_authenticated %}
      <span>Welcome, {{request.user.username}}</span>
      <a href='logout'>Logout</a>
      {% endif %}
    </div>
    <div class="ScheduleButtonCont col-lg-4">
      <a href="{% url 'add' %}" type="button" class="schedButton btn btn-dark"> Add Schedule </a>
    </div>
    <div class="ScheduleButtonCont col-lg-4">
      {% if entries %}
        <a href="{% url 'deleteAll' %}" type="button" class="schedButton btn btn-danger"> Clear Events </a>
      {% endif %}
    </div>
  </div>
  <hr/>
  <div class="row">
    {% if entries %}
      {% for entry in entries %}
        {% include 'scheduleApp/_schedule_card.html' %}
      {% endfor %}
    {% endif %}
  </div>
</div>
<div class="middleText col-lg-8">
  {% if not entries %}
    <h2> You currently have no events  </h2>
  {% endif %}
</div>

{% endblock %}
