
body,html{
  width:100%;
  min-height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

#pageCenter{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.middleText{
  width:100%;
  display:flex;
  align-items: center;
  justify-content:center;
}

.ScheduleButtonCont{
  margin:5px;
}

.btn{
  border-radius: 25px;
  padding:10px 30px;
}

.cardBase{
  border-radius:5px;
  padding-bottom:10px;

}

@media(max-width:64rem){
  .btn{
    border-radius: 25px;
    padding:5px 25px;
  }

}

/* .middlerow {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
} */
